<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    You have 10 minutes today! Here's what you can do:
    <a href="<%= @data %>">The video of minions</a>
  </body>
</html>
