<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    You have <%= @time - @allowedTime %> minutes today! Here's what you can do: <br/>
    <% for link in @links %>
      <a href="<%= link[1] %>"><%= link[0] %> (<%= link[2] %> mins)</a> <br/>
    <% end %>
  </body>
</html>
