<h1>My Holy Lists for Learning</h1>
<form  action="/getdata">
  <div style = "margin:20px">
    <label for="interest">Interests (select multiple by holding holding Cmd):</label>
      <select multiple class="form-control" id="interest">
        <option>Interest 1</option>
        <option>Interest 2</option>
        <option>Interest 3</option>
        <option>Interest 4</option>
        <option>Interest 5</option>
      </select>
 </div> 
 <div>
  <% a= [1,2,3] %>
   <label for="time">Amount of time I can dedicate per day (in min):</label> 
   <select class="custom-select" id="time">
    <option selected>1</option>
    <option collection= <%=a%> ></option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
