<% content_for :title do %>About<% end %>
<h2>About Minutes of Interest</h2>
<br>
<p class = "col-12">We know you have a list of interests you're dying to explore, but let's face it procrastination is a real phenomenon. That's why we created an email subscription that caters to YOU and sends you a list of what you CAN achieve within the amount of time you have. Stop wasting time on finding resources and maximize what you get out of your free time!
</p>
<br>
<p>Kevin, JiaYing, Emily, and Grant</p>
