<%# navigation styled for Bootstrap 4.0 %>

<nav class="navbar navbar-default" >
    <!-- style="background: linear-gradient(90deg, #EEEEEE 30%, #40a4df 30%);" -->
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%#= link_to(image_tag("logo-02.svg", height: '64'),root_path,:style=>"height:100%;margin-top:-21px;margin-bottom:-20px;margin-right:-15px;",:class=>"navbar-brand") %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <h2><a class="navbar-brand" href="/" style="font-size:30px">Minutes of Interest</a></h2>
      <ul class="nav navbar-nav navbar-left">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
