<%# add navigation links to this file %>
<li class="<%= 'active' if current_page?(page_path('instructions')) %>"><%= link_to 'About', page_path('about'), class: '' %></li>
<!-- <li class='nav-item'><%= link_to 'Search', "/searches", class: '' %></li> -->
<!-- <li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li> -->
